<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content style="background: whitesmoke">
	<p text-center>Spots close to you</p>
	<ion-slides pager="true" id="loopSlide">
		<ion-slide *ngFor="let spot of spots">
			<div>
				<div text-center style="background: lightgrey">
					<ion-img *ngFor="let item of spot.spotsnear" [src]="item" class="img-spots-near" style="margin: 10px; height: 60px; width:60px; border-radius: 50%;"></ion-img>
				</div>
				<button type="submit" float-left ion-button class="btnPrev" (click)="prev()" style="background: black; opacity: 0.7; color: white"><ion-icon name="arrow-back"></ion-icon></button>
				<button type="submit" float-right ion-button class="btnNext" (click)="next()" style="background: black; opacity: 0.7; color: white"><ion-icon name="arrow-forward"></ion-icon></button>
				<div>
					<ion-slides slidesPerView=5>
						<ion-slide *ngFor="let food of spot.menu">
							<ion-img [src]="food.image" style="width: 60px; height: 60px"></ion-img>
							<ion-label>{{food.title}}</ion-label>
						</ion-slide>
					</ion-slides>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
	<div style="background: black">
		<p style="color: grey"><span style="color: white">128</span> Spots open now within half mile</p>
		<div style="position: relative; display: flex; justify-content: space-evenly;">
			<ion-img *ngFor="let item of spotsNearYou1" [src]="item" style="width: 90px; height: 90px"></ion-img>
		</div>
	</div>
</ion-content>
