page-home {
    ion-slides {
        height: auto;
      }

      .swiper-container-horizontal > .swiper-pagination
      {
          bottom          : 50%; //Change accordingly
          z-index         : 99 !important;
      }
}
